# This is the configuration file to run dermal absorption simulation
#  of Geraniol
#  In general, a negative value means that parameter
#  will be calculated by the code, instead of supplied by user

# Setup of the compartments to form skin physiology
#  This may overide the settings subsequently, e.g.
#  if no hair follicle is involved, then the properties relating to hair follicle
#  will not be used
# Here H is not really hair follicle, but used as the receptor fluid
COMPARTMENT_SETUP  V,S,E,D,H


# Order:                      ID, LEN_X,LEN_Y,N_MESH_X,N_MESH_Y
#    or for stratum corneum:  ID, N_LAYER_X_SC, N_LAYER_Y_SC, N_MESH_X_SC_LP, N_MESH_Y_SC_LP
# Skin thickness 407 um
# Application area 1 cm^2
# Vehicle 10 uL --> depth 10e-9/1e-4 = 100e-6
# SC thickness is 12*.875+.075 = 10.575 ca. 11
# VE thickness fixed to 100 um
# DE thickness is thus 407-11-100=296
COMP	0	100e-6	-1		1	1
COMP	1	12		1		1	1
COMP	2	100e-6	-1		10	1
COMP	3	296e-6	-1		10	1
COMP	4	1.24	-1		10	1

# Properties of the chemical
CHEM_NO      1
CHEM_MW      154.25
# 10**3.56 = 3630.78
CHEM_KOW     3630.78
CHEM_PKA     -1
CHEM_NONION  1
CHEM_UNBND   0.0447
CHEM_ACIDBASE A
CHEM_DENSITY 889 
CHEM_PHASE LIQUID


### Vehicle specific setting
INFINITE_VH  0
AREA_VH      0.01
#      Below values are from CosEU project
# Ethanol evaporation from skin surface from Gajjar et al., Ann. Occup. Hyg., 57: 853, 2013
#   Either 3280E-10 (bench top) or 7.63E-07 (fume hood, calculated at air velocity 0.5 m/s)
EVAP_SOLVENT_VH 7.63E-07
EVAP_SOLUTE_VH 9.24E-10
SOLVENT_MW 46.1
SOLUBILITY_VH 150.921
SOLVENT_DENSITY 790

### Initial concentration in (possible) compartments

INIT_CONC_VH 0.292
INIT_CONC_SC 0
INIT_CONC_VE 0
INIT_CONC_DE 0
INIT_CONC_HF 0
INIT_CONC_BD 0

### Partiton and diffusion coefficienets in (possible) compartments

# Vehicle is ethanol, thus the vehicle:water partition is estimated
#   the ratio of solubility in ethanol (150.921) to that in water (0.349)
#   i.e. 150.921/0.349 = 432.4
KW_VH			432.4
D_VH			-1

KW_SC			-1
D_SC			-1

KW_VE			-1
D_VE			-1

KW_DE			-1
D_DE			-1

KW_HF			1
D_HF			1e-9

